.float-container {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
  }
  
  .float-child {
    flex: 1;
    height: 100%;
  }
  
  .live-type-field {
    height: 100%;
  }
  
  .typo-block {
    width: 200px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    overflow: auto;
  }
  
  .typo-button {
    background-color: lightgray;
    color: black;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid gray;
  }
  
  .typo-button:hover {
    background-color: gray;
  }
  